<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf.mapper.RentMapper">
    <update id="rent" parameterType="int">
        update umbrella_info set state = '租用中' where id=#{uid}
    </update>
    <insert id="AddRentForm">
        insert into rent_form(umb_id, username, createtime, returntime, rent_loc, return_loc)
        values (#{umb_id},#{username},NOW(),null,#{location},null)
    </insert>
    <select id="FindUmbrella" resultType="Umbrella">
        select * from umbrella_info where id=#{id}
    </select>
    <select id="FindUserRentForm" resultType="RentForm">
        select * from rent_form where username = #{username} and returntime is null and return_loc is null
    </select>

    <select id="AllStore" resultType="Store">
        select * from store
    </select>
</mapper>