
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>留言板</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="/layuiadmin/style/template.css" media="all">
</head>
<body>


<div class="layui-fluid layadmin-message-fluid">
  <div class="layui-row">
    <div class="layui-col-md12">
      <form class="layui-form">
        <div class="layui-form-item layui-form-text">
          <div class="layui-input-block">
            <textarea name="desc" id="ta"  placeholder="请输入内容" class="layui-textarea"></textarea>
          </div>
        </div>

        <div class="layui-form-item" style="overflow: hidden;">
          <div class="layui-input-block layui-input-right">
            <button class="layui-btn" lay-submit lay-filter="formDemo">发表</button>
          </div>
          <div class="layadmin-messag-icon">
            <a href="javascript:;"><i class="layui-icon layui-icon-face-smile-b"></i></a>
            <a href="javascript:;"><i class="layui-icon layui-icon-picture"></i></a>
            <a href="javascript:;"><i class="layui-icon layui-icon-link"></i></a>
          </div>
        </div>
      </form>
    </div>
    <div class="layui-col-md12 layadmin-homepage-list-imgtxt message-content">
       <div class="media-body" th:each="temp:${msgs}">
          <a href="javascript:;" class="media-left" style="float: left;">
             <img src="/layuiadmin/style/res/template/portrait.png" height="46px" width="46px">
          </a>
          <div class="pad-btm">
            <p class="fontColor"><a href="javascript:;" th:text="${temp.getUsername()}"></a></p>
            <p class="min-font">
              <span class="layui-breadcrumb" lay-separator="-">
                <a href="javascript:;" class="layui-icon layui-icon-cellphone"></a>
                <a href="javascript:;" th:text="${temp.getTime()}"></a>
              </span>
            </p>         
         </div>
          <p class="message-text" th:text="${temp.getText()}"></p>
       </div>
       <div class="layui-row message-content-btn">
          <a href="javascript:;" class="layui-btn">更多</a>
       </div>
     </div>

    </div>
  </div>
</div>


  <script src="/layuiadmin/layui/layui.js"></script>
 <script src="js/jquery-3.5.1.min.js"></script>
  <script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  layui.use(['layer','form'],function(){
    var form = layui.form;
    form.on('submit(formDemo)', function(data){
      // layer.msg(JSON.stringify(data.field));
        var ta = $('#ta').val();
        alert(ta);
        $.post("postmsg",{ta:ta},function (data) {
            if (data=="success"){
                layer.msg("发布成功",function () {
                    location.href="/msgboard";
                })
            }else {
                layer.msg("发布失败",function () {
                    location.href="/msgboard";
                })
            }
        },"text");
      return false;
    });
    return false;
  })
  </script>
</body>
</html>